/*Importation des polices et autres reglages*/

	@font-face { font-family: "BebasNeueBold"; 	src: url('../fonts/BebasNeue/BebasNeueBold.ttf'); }
	@font-face { font-family: "BebasNeueBook"; 	src: url('../fonts/BebasNeue/BebasNeueBook.ttf'); }
	@font-face { font-family: "BebasNeueLight"; src: url('../fonts/BebasNeue/BebasNeueLight.ttf'); }
	@font-face { font-family: "BebasNeueRegular"; src: url('../fonts/BebasNeue/BebasNeueRegular.ttf'); }
	@font-face { font-family: "BebasNeueThin"; 	src: url('../fonts/BebasNeue/BebasNeueThin.ttf'); }
	@font-face { font-family: "BebasNeue"; 	src: url('../fonts/BebasNeue/BebasNeue.eot'); }

	@font-face { font-family: "SourceSansProBold"; 	src: url('../fonts/sourceSansPro/SourceSansProBold.ttf'); }
	@font-face { font-family: "SourceSansProLight"; src: url('../fonts/sourceSansPro/SourceSansProLight.ttf'); }
	@font-face { font-family: "SourceSansProRegular"; src: url('../fonts/sourceSansPro/SourceSansProRegular.ttf'); }
	@font-face { font-family: "SourceSansProSemibold"; 	src: url('../fonts/sourceSansPro/SourceSansProSemibold.ttf'); }

	* {
	    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	}

body {
    background-attachment:fixed;
    font-family:'SourceSansProRegular', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
	overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

html { 
	height: 100%;
	margin: 0px;
	overflow: hidden;
}

#loadCircle { 
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 20px;
	padding-top: calc(50% - 10px);
	color: rgb(50,50,50);
	z-index: 10;
	height: 100%;
	background-color: white;
}

#app { 
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: white;
	overflow: hidden;
	z-index: 0;
}

/*#general*/
	#general { 
		position: absolute;
		top: 0%;
		left: 0%;
		height: 100%;
		width: 100%;
		overflow: hidden;
		z-index: 0;
	}
	/*#general_swipeShow*/
		#general_swipeShow { 
			position: absolute;
			top: 0%;
			left: 0%;
			height: 100%;
			width: 100%;
			overflow: hidden;
			background-color: white;
			z-index: 0;
		}

			#general_swipeShow_blackFilter { 
				position: absolute;
				top: 0;
				left: 0;
				height: calc(100% - 80px);
				width: 100%;
				overflow: hidden;
				visibility: hidden;
				z-index: 20;
				background-color: rgba(100,100,100,0.3); 
			}
		/*.general_swipeShow_element*/ 
			.general_swipeShow_element { 
				position: absolute;
				top: 0%;
				height: 100%;
				width: 100%;
				overflow: hidden;
				z-index: 0;
			}
			.general_swipeShow_element_presText { 
				position: absolute;
				top: 50px;
				left: 20px;
				color: white;
				font-size: 20px;
				font-family: "BebasNeueRegular";
				z-index: 10;
			}
			.general_swipeShow_element_content { 
				position: absolute;
				top: 0%;
				left: 0%;
				z-index: 0;
				width: 100%;
				height: calc(100% - 80px);
			}
			video.general_swipeShow_element_content, img.general_swipeShow_element_content { 
				z-index: 0;
				width: 100%;
				height: auto;
				border: none;
			}
		/*.general_swipeShow_element_comments*/
			.general_swipeShow_element_comments { 
				z-index: 10;
				position: absolute;
				width: 100%;
				height: 80px;
				top: calc(100% - 80px);
				background-color: rgb(240,240,240);
				box-shadow: rgb(100,100,100) 0px -1px 0.25px;
				display: inline-block;
				overflow: hidden; 
			}
			/*.general_swipeShow_element_comment*/
				.general_swipeShow_element_comment { 
					position: absolute;
					width: 100%;
					height: 100%;
				}
				/*.general_swipeShow_element_comment_avatar*/
					.general_swipeShow_element_comment_avatar { 
						position: absolute;
						top: 15px;
						left: 10px;
						width: 50px;
						height: 50px;
						border-radius: 50%;
						border: solid rgb(230,230,230) 1px;
					}
					.general_swipeShow_element_comment_avatar img { 
						height: 50px;
						width: 50px;
						border-radius: 50%;
					}
				/*general_swipeShow_element_comment_text*/
					.general_swipeShow_element_comment_text { 
						position: absolute;
						width: calc(100% - 75px);
						left: 70px;
						height: 70px;
						top: 5px;
						text-align: left;
						color: rgb(50,50,50);
						font-size: 14px;
						overflow: hidden;
					}
	/*.general_snippet*/
		.general_snippet { 
			position: absolute;
			top: 0px;
			height: 180px;
			width: 180px;
			border: none;
			z-index: 20;
		}
		.general_snippet_bigButton { 
			position: absolute;
			top: -25px;
			height: 75px;
			width: 75px;
			z-index: 20;
			border-radius: 50%;
			background-color: rgba(230,230,230,0.5);
		}
		/*.general_snippet_element*/
			.general_snippet_element { 
				position: absolute;
				box-shadow: rgb(50,50,50) 0.5px 0.5px 0.25px;
				width: 35px;
				border-radius: 50%;
				z-index: 20;
				text-align: center;
				color: white;
			}
	/*#general_leftSnippet*/
		#general_leftSnippet { 
			left: 0px;
		}
			#general_leftSnippet_bigButton { 
				left: -25px;
				box-shadow: rgb(100,100,100) 0.5px 0.5px 0.25px;
				background-color: rgba(230,230,230,0.5);
			}
			#general_leftSnippet_elements { 
				position: absolute;
				left: 0px;
				top: 0px;
				width: 150px;
				height: 150px;
				border: none;
			}
			#general_leftSnippet_profile { 
				background-color: rgba(50,50,50,0.5);
				left: 65px;
				top: 10px;
				height: 20px;
				padding-top: 7.5px;
				padding-bottom: 7.5px; 
				font-size: 20px;
			}
			#general_leftSnippet_options { 
				background-color: rgba(50,50,50,0.5);
				left: 47.5px;
				top: 47.5px;
				height: 15px;
				padding-top: 10px;
				padding-bottom: 10px;
				font-size: 15px;
			}
			#general_leftSnippet_bets { 
				background-color: rgba(50,50,50,0.5);
				left: 10px;
				top: 65px;
				height: 15px;
				padding-top: 10px;
				padding-bottom: 10px;
				font-size: 15px;
			}
	/*#general_rightSnippet*/
		#general_rightSnippet { 
			right: 0px;
		}
			#general_rightSnippet_bigButton { 
				right: -25px;
				box-shadow: rgb(100,100,100) -0.5px 0.5px 0.25px;
				background-color: rgba(230,230,230,0.5);
			}
			#general_rightSnippet_elements { 
				position: absolute;
				right: 0px;
				top: 0px;
				width: 150px;
				height: 150px;
				border: none;
			}
			#general_rightSnippet_video { 
				background-color: rgba(50,50,50,0.5);
				right: 65px;
				top: 10px;
				height: 20px;
				padding-top: 7.5px;
				padding-bottom: 7.5px; 
				font-size: 20px;
			}
			#general_rightSnippet_mic { 
				background-color: rgba(50,50,50,0.5);
				right: 47.5px;
				top: 47.5px;
				height: 20px;
				padding-top: 7.5px;
				padding-bottom: 7.5px;
				font-size: 20px;
			}
			#general_rightSnippet_file { 
				background-color: rgba(50,50,50,0.5);
				right: 10px;
				top: 65px;
				height: 20px;
				padding-top: 7.5px;
				padding-bottom: 7.5px;
				font-size: 20px;
			}	
	/*#general_comments*/
		#general_comments { 
			position: absolute;
			height: 55%;
			background-color: rgb(240,240,240);
			width: 100%;
			top: 0%;
			left: 0%;
			z-index: -10;
			box-shadow: rgb(100,100,100) 0px -1px 0.25px; 
		}

/*#commentForm*/
	#commentForm { 
		z-index: -10;
		height: 60%;
		width: 100%;
		position: absolute;
		top: 0%;
		left: 0%;
		background-color: rgb(240,240,240);
		box-shadow: rgb(100,100,100) 0px -1px 0.25px;
		overflow: hidden; 
	}
	/*#commentForm_head*/
		#commentForm_head { 
			position: absolute;
			top: 0px;
			width: 100%;
			height: 20px;
			font-size: 15px;
			padding-top: 2.5px;
			text-align: center;
			overflow: hidden;
			z-index: 20;
		}
		/*#commentForm_comments*/
			#commentForm_comments { 
				position: absolute;
				top: 20px;
				left: 0px;
				width: 100%;
				overflow-x: hidden;
				overflow-y: scroll;
				height: calc(100% - 70px);
				background-color: rgb(240,240,240);
				border-top: solid 3px rgb(230,230,230);
			}
			/*.commentForm_comment*/
				.commentForm_comment { 
					position: relative;
					width: 100%;

					margin-top: 7.5px;
					margin-bottom: 7.5px;
					background-color: white;
					border-top: solid 0.3px rgb(230,230,230);
					border-bottom: solid 0.3px rgb(230,230,230);
				}
				/*.commentForm_comment_avatar*/
					.commentForm_comment_avatar {
						position: relative;
						top: 5px;
						left: 5px;
						height: 50px;
						border-radius: 50%;
						width: 50px;
						margin-bottom: 10px;
					}
					.commentForm_comment_avatar img { 
						height: 50px;
						width: 50px;
						border-radius: 50%;
						border: solid 0.05px rgb(230,230,230);
					}
				/*.commentForm_comment_infos*/
					.commentForm_comment_infos { 
						position: absolute;
						left : 70px;
						font-size: 16px;
						top: 5px;
					}
					.commentForm_comment_infos_who { 
						font-size: 16px;
					}
					.commentForm_comment_infos_time { 
						font-size: 10px;
					}
				.commentForm_comment_text { 
					position: relative;
					width: 95%;
					font-size: 14px;
					left: 2.5%;
					margin-bottom: 10px;
				}
				.commentForm_comment_heroLink { 
					position: relative;
					bottom: 3px;
					height: 15px;
					left: 5px;
					font-size: 10px;
					color: black;
					font-family: "SourceSansProSemibold";
					text-decoration: none;
					display: inline;
				}
				.commentForm_comment_liarLink { 
					position: relative;
					height: 15px;
					bottom: 3px;
					font-size: 10px;
					margin-left: 10px;
					color: black;
					font-family: "SourceSansProSemibold";
					text-decoration: none;
					display: inline;
				} 
	/*#commentForm_form*/	
		#commentForm_form { 
			position: absolute;
			left: 0px;
			height: 50px;
			top: calc(100% - 50px);
			overflow: hidden;
			width: 100%;
			border: none;
			background-color: rgb(240,240,240);
			border-top: solid 3px rgb(230,230,230);
		}
			#commentForm_form_input { 
				display:block;
				overflow-x: hidden;
				overflow-y: scroll;
				position: absolute;
				width: 75%;
				left: 3%;
				border: none;
				height: 50px;
				top: 10px;
				font-size: 20px;
				font-family: "SourceSansProRegular";
				resize: none;
				background-color: rgb(240,240,240);
			}
			#commentForm_form_input:focus, #commentForm_form_input:active, #commentForm_form_input:hover { 
				outline: none;
			}
			#commentForm_form_submit { 
				visibility: hidden;
			}
		#commentForm_submitButton { 
			position: absolute;
			max-width: 15%;
			width: 35px;
			height: 30px;
			background-color: rgb(230,230,230);
			border-radius: 50%;
			left: 85%;
			text-align: center;
			padding-top: 5px; 
			font-size: 20px;
			bottom: 10px;
			box-shadow: rgb(100,100,100) 0.5px 0.5px 0.25px; 
		}

/*#profile*/
	#profile { 
		z-index: -10;
		position: absolute;
		top: 0%;
		left: 0%;
		height: 100%;
		width: 100%;
		background-color: rgb(240,240,240);
		overflow-x: hidden;
		overflow-y: hidden;
		padding: 0;
	}
	/*#profile_shadow*/
		#profile_shadow { 
			z-index: 30;
			width: 100%;
			height: 5%;
			background-color: rgba(50,50,50,0.3);
			position: absolute;
			top: 0px;
			left: 0px;
		}
		/*#profile_shadow animations*/
			.profile_shadow-scrollAnim { 
				-webkit-transform: translate3d(0,0,0);
				-webkit-transform-origin: 0% 0%;
				-webkit-transform: scaleY(2);
				-webkit-backface-visibility: hidden;
				-webkit-perspective: none;
			}
			.profile_shadow-scrollAnim2 { 
				-webkit-transform: translate3d(0,0,0);
				-webkit-transform-origin: 0% 0%;
				-webkit-transform: scaleY(1);
				-webkit-backface-visibility: hidden;
				-webkit-perspective: none;
			}
	/*#profile_close*/
		#profile_close { 
			position: absolute;
			top: 3px;
			left: 10px;
			font-size: 20px;
			z-index: 40;
		}
	/*#profile_options*/
		#profile_options { 
			position: absolute;
			top: 3px;
			left: calc(100% - 10px);
			font-size: 20px;
			z-index: 40;
		}
	/*#profile_cover*/
		#profile_cover { 
			background-image : url("../img/saut-en-parachute.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			border-bottom: solid 5px rgb(230,230,230);
			position: absolute;
			top: 0px;
			left: 0px;
			height: 20%;
			width: 100%;
			z-index: 20;
		}
		/*#profile_cover animations*/
			.profile_cover-scrollAnim { 
			    -webkit-transform: translate3d(0,0,0);
				-webkit-animation-duration: 0.10s;
				-webkit-animation-name: profile_cover-scrollAnim;
				-webkit-animation-timing-function: linear;
				-webkit-animation-fill-mode: forwards;
				-webkit-animation-direction: normal;
			}
				@keyframes profile_cover-scrollAnim {
				  from {
					height: 20%;
				  }
				  to {
					height: 10%;
				  }
				}
	/*#profile_avatar*/
		#profile_avatar { 
			position: absolute;
			top: calc(20% - 20px);
			left: calc((100% - 100px)/2);
			width: 100px;
			height: 100px;
			z-index: 40;
		}
		#profile_avatar img { 
			width: 100px;
			height: 100px;
			border-radius: 50%;
			border: solid 3px rgb(230,230,230);
		}
		/*#profile_avatar animations*/
			.profile_avatar-scrollAnim { 
		    -webkit-transform: translate3d(0,-90%,0);
			-webkit-transition: transform 100ms linear;
			-webkit-backface-visibility: hidden;
			-webkit-perspective: none;
			}
			.profile_avatar-scrollAnim2 { 
		    -webkit-transform: translate3d(0,0%,0);
			-webkit-transition: transform 100ms linear;
			-webkit-backface-visibility: hidden;
			-webkit-perspective: none;
			}
		#profile_name { 
			position: absolute;
			top: calc(20% + 90px);
			font-size: 18px;
			text-align: center;
			font-family: "BebasNeueRegular";
			letter-spacing: 1px;
			width: 100%;
		}
		/*#profile_name animations*/
			.profile_name-scrollAnim { 
		    -webkit-transform: translate3d(0,-90px,0);
			-webkit-transition: transform 100ms linear;
			-webkit-backface-visibility: hidden;
			-webkit-perspective: none;
			}
			.profile_name-scrollAnim2 { 
		    -webkit-transform: translate3d(0,0px,0);
			-webkit-transition: transform 100ms linear;
			-webkit-backface-visibility: hidden;
			-webkit-perspective: none;
			}
		#profile_bets { 
			position: absolute;
			top: calc(20% + 125px);
			width: 100%;
			left: 0px;
			height: 80%;
			overflow-x: hidden;
			overflow-y: scroll;
			z-index: 0;
			border-top: solid 5px rgb(230,230,230);
		}
		/*#profile_bets animations*/
			.profile_bets-scrollAnim { 
		    -webkit-transform: translate3d(0,-100px,0);
			-webkit-transition: transform 100ms linear;
			-webkit-backface-visibility: hidden;
			-webkit-perspective: none;
			}
			.profile_bets-scrollAnim2 { 
		    -webkit-transform: translate3d(0,0px,0);
			-webkit-transition: transform 100ms linear;
			-webkit-backface-visibility: hidden;
			-webkit-perspective: none;
			}
	/*.profile_bet*/
		.profile_bet { 
			position: relative;
			margin-top: 5px;
			margin-bottom: 5px;
			width: 100%;
			background-color: white;
			border: solid 0.05px rgb(230,230,230);
		}
		.profile_bet_infos { 
			font-size: 18px;
			position: relative;
			width: 100%;
			text-align: center;
			font-family: "BebasNeueBold";
			padding-top: 10px;
			height: 30px;
		}
		.profile_bet_title { 
			font-size: 20px;
			position: relative;
			width: 100%;
			text-align: center;
			padding-top: 5px;
			height: 30px;
		}
		/*.profile_bet_proof*/
			.profile_bet_proof { 
				position: relative;
				margin-top: 10px;
				width: 100%;
			}
			.profile_bet_proof img { 
				width: 100%;
				border: solid 0.05px rgb(230,230,230);
			}
		/*.profile_bet_likeLinks*/
			.profile_bet_likeLinks { 
				position: relative;
				height: 55px;
				padding-top: 20px;
				font-size: 25px;
				width: 100%;
				text-align: center;
			}
			.profile_bet_likeLinks a, .profile_bet_likeLinks a:visited, .profile_bet_likeLinks a:hover { 
				color: black;
				text-decoration: none;
				position: relative;
				display: inline;
			}
			.profile_bet_likeLinks a:active { 
				color: rgb(242,242,242);
				text-decoration: none;
			} 
			.profile_bet_likeLinks_heroLink { 
				margin-right: 5px;
			}
			.profile_bet_likeLinks_leftLink { 
				margin-left: 5px;
			}

/*#options*/
	#options { 
		z-index: -10;
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 100%;
		background-color: limegreen;
	}

	/*#options_close*/
		#options_close { 
			position: absolute;
			top: 3px;
			left: 10px;
			font-size: 20px;
			z-index: 10;
		}

/*#bets*/
	#bets { 
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 100%;
		background-color: lightblue;
	}

	/*#bets_close*/
		#bets_close { 
			position: absolute;
			top: 3px;
			left: 10px;
			font-size: 20px;
			z-index: 10;
		}