.topCollapsing { 
-webkit-transform: translate3d(0,100%,0);
-webkit-transition: transform 600ms linear;
-webkit-backface-visibility: hidden;
-webkit-perspective: none;
}
.topHiding { 
-webkit-transform: translate3d(0,-100%,0);
-webkit-transition: transform 600ms linear;
-webkit-backface-visibility: hidden;
-webkit-perspective: none;
}

.bottomCollapsing { 
-webkit-transform: translate3d(0,-100%,0);
-webkit-transition: transform 600ms linear;
-webkit-backface-visibility: hidden;
-webkit-perspective: none;
}
.bottomHiding { 
-webkit-transform: translate3d(0,100%,0);
-webkit-transition: transform 600ms linear;
-webkit-backface-visibility: hidden;
-webkit-perspective: none;
} 

.rightCollapsing { 
-webkit-transform: translate3d(-100%,0,0);
-webkit-transition: transform 400ms linear;
-webkit-backface-visibility: hidden;
-webkit-perspective: none;
}
.rightReplace {
-webkit-transform: translate3d(0%,0,0);
-webkit-transition: transform 400ms linear;
-webkit-backface-visibility: hidden;
-webkit-perspective: none;	
}
.rightHiding { 
-webkit-transform: translate3d(100%,0,0);
-webkit-transition: transform 400ms linear;
-webkit-backface-visibility: hidden;
-webkit-perspective: none;
}

.leftCollapsing { 
-webkit-transform: translate3d(100%,0,0);
-webkit-transition: transform 400ms linear;
-webkit-backface-visibility: hidden;
-webkit-perspective: none;
}
.leftReplace { 
-webkit-transform: translate3d(0%,0,0);
-webkit-transition: transform 400ms linear;
-webkit-backface-visibility: hidden;
-webkit-perspective: none;
}
.leftHiding{ 
-webkit-transform: translate3d(-100%,0,0);
-webkit-transition: transform 400ms linear;
-webkit-backface-visibility: hidden;
-webkit-perspective: none;
}

.slideLeft { 
	-webkit-transform: translate3d(-200%,0%,0);
	transform: translate3d(-200%,0%,0);
	animation-duration: 0.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-fill-mode: forwards;
}

.CSSSlideForComments { 
	-webkit-transform: translate3d(0%,0%,0);
	-webkit-transition: transform 400ms linear;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: none;	
}

.CSSSlideForGeneralElements { 
	-webkit-transform: translate3d(0%,0%,0);
	-webkit-transition: transform 200ms linear;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: none;
}

.slideTop { 
	-webkit-transform: translate3d(0%,-100%,0);
	-webkit-transition: transform 400ms linear;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: none;
}

.slideBottom { 
	-webkit-transform: translate3d(0%,100%,0);
	-webkit-transition: transform 400ms linear;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: none;
}

.slideTop2 { 
	-webkit-transform: translate3d(0%,0%,0);
	-webkit-transition: transform 400ms linear;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: none;
}

.show {
    -webkit-transform: translate3d(0,0,0);
	animation-duration: 0.25s;
	animation-name: appearing;
	-webkit-animation-timing-function: linear;
	-webkit-animation-fill-mode: forwards;
}
	@keyframes appearing {
	  from {
	    opacity: 0;
	    visibility: hidden;
	  }
	  to {
	    opacity: 1;
	    visibility: visible;
	  }
	}

.hide {
    -webkit-transform: translate3d(0,0,0);
	animation-duration: 0.25s;
	animation-name: disappearing;
	-webkit-animation-timing-function: linear;
	-webkit-animation-fill-mode: forwards;
}
	@keyframes disappearing {
	  from {
	    visibility: visible;
	   	opacity: 1;
	  }
	  to {
	    visibility: hidden;
	    opacity: 0;
	  }
	}

.rotate90right { 
	-webkit-transform: translate3d(0,0,0);
	-webkit-transform-origin: 100% 0%;
	-webkit-transform: rotate(90deg);
	-webkit-transition: transform 250ms linear;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: none;
}	 
.rotate-90right { 
	-webkit-transform: translate3d(0,0,0);
	-webkit-transform-origin: 100% 0%;
	-webkit-transform: rotate(-90deg);	
	-webkit-transition: transform 250ms linear;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: none;
}
.rotate0right { 
	-webkit-transform: translate3d(0,0,0);
	-webkit-transform-origin: 100% 0%;
	-webkit-transform: rotate(0deg);
	-webkit-transition: transform 250ms linear;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: none;
}

.rotate0left { 
	-webkit-transform: translate3d(0,0,0);
	-webkit-transform-origin: 0% 0%;
	-webkit-transform: rotate(0deg);
	-webkit-transition: transform 250ms linear;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: none;
}
.rotate90left { 
	-webkit-transform: translate3d(0,0,0);
	-webkit-transform-origin: 0% 0%;
	-webkit-transform: rotate(90deg);
	-webkit-transition: transform 250ms linear;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: none;
}
.rotate-90left { 
	-webkit-transform: translate3d(0,0,0);
	-webkit-transform-origin: 0% 0%;
	-webkit-transform: rotate(-90deg);
	-webkit-transition: transform 250ms linear;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: none;
}

.rotate180 { 
	-webkit-transform: translate3d(0,0,0);
	-webkit-transform: rotate(180deg) scaleX(-1);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: none;
}